html {
    scroll-behavior: smooth;
  }
  
:root {
    --color1: #24272E;
}

body {
    margin: 0;
    color: #24272E;
    font: 400 normal 14px/21px 'Inter', sans-serif;
    /* background-color: yellowgreen; */
}

button {
    all: unset;
    border: 1px solid #1D6FA3;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font: 700 normal 16px/24px 'DM Sans', sans-serif;
    text-align: center;
}

header {
    background-image: url("img/banner.jpg"); background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header:before{
    background-color: #1D6FA3;
    opacity: 0.5;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
header .container{
    position: relative;
    z-index: 2;
}

a {
    color: #1d6fa3;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 1280px;
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}

li {
    color: white;
}

ul {
    list-style-type: none;
}

.homepage-navbar {
    display: flex;
    flex-direction: row;
}

.nav-bar ul {
    display: flex;
    gap: 40px;
}

#homepage-resources {
    display: flex;
    gap: 8px;
}

.container.banner {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 100px;
}

.container.banner h1 {
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -1.2px;
}

.container.banner p {
    color: #E3E3E3;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

#catalog-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(255, 255, 255, 0.10);
    border: 1px solid #FFE500;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    padding: 0px 28px;
}

#catalog-button p {
    color: white;
}

/* Features Section 1 */
.features-top {
    background-color: #F9F9FF;
    padding: 96px 0px;
}

.features-top .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.features-top-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-top-titles h1 {
    color: #24272E;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.features-top-titles p {
    font-size: 20px;
    text-align: center;
}

.campaign-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #FFF;
}

.features-top-content {
    display: flex;
    justify-content: space-around;
    gap: 27px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding-bottom: 10px
}

.campaign-card-titles {
    padding: 0px 20px;
}

/* Features section ----> Campaign cards */
.campaign-card-row {
    display: flex;
    gap: 20px;
    background-color: #F9F9FF;
    margin-top: 48px;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}

.campaign-card {
    border-radius: 20px;
    background-color: #FFF;
}

.campaign-card-contents {
    padding-left: 32px;
}

.campaign-card h4 {
    color: var(--color1);
    font-weight: 700;
    line-height: 27px;
}

.campaign-card p {
    color: #505258;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.learn-more-btn {
    padding-bottom: 24px;
}

/* Features section 2 */
.features-bottom .container {
    display: flex;
    padding: 96px 160px;
    gap: 64px;
    justify-content: center;
}

.content-left {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 48px;
}


.content-right {
    display: flex;
    gap: 32px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.column.column-rightmost {
    position: relative;
    top: 100px;
}


.features-bottom h2 {
    color: #24272E;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin: 0px;
}

.features-bottom p {
    color: #505258;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.column-namecard h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin: 0px;
}

.brand-logo {
    /* background-color: #F9F9FF; */
    background-color: #F9F9FF;
    padding: 80px 0px;
}

.brand-logo .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brands-wrapper {
    display: flex;
    gap: 65px;
}

.brands {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* News section */
.news {
    padding: 80px 0px;
    background-color: white;
}

.news-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-wrapper h3 {
    color: var(--neutral-n-100, #24272E);
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.news-wrapper p {
    color: var(--neutral-n-80, #505258);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.news-card-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.news-card {
    border-radius: 20px;
    background-color: #F9F9FF;
    display: flex;
    flex-direction: column;
}

.news-card img {
    height: auto;
    width: 90%;
    display: flex;
    /* margin: auto; */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 22px;
}

.news-card-contents {
    color: #093157;
    padding-left: 20px;
    padding-right: 22px;
    padding-top: 20px;
}

.news-card-contents h3 {
    color: var(--neutral-n-100, #24272E);
    font-size: 24px;
    line-height: 36px;
}

.news-card-contents p {
    color: var(--neutral-n-80, #505258);
    font-size: 18px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.news-card-btn {
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 24px;
}

.news-card-btn a {
    color: var(--secondary-teal, #1D6FA3);
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    font: 700 normal 18px/24px 'DM Sans', sans-serif;
}

.arrow {
    margin-left: 8px;
}

.view-btn {
    color: var(--neutral-n-100, #24272E);
    position: relative;
    top: 32px;
}

.view-btn button {
    padding: 10px 16px;
}

/* Resources */
.resources {
    background-color: #f9f9ff;
    padding: 80px 0px;
}

.container.resources-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.resources-header h1 {
    color: #24272E;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
    font-size: 32px;
}

.resources-header p {
    color: #7C7D82;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.resources-cards {
    display: flex;
    gap: 32px;
    justify-content: space-around;
}

.resources-card-container {
    width: 352.913px;
    height: 337.45px;
    /* flex-shrink: 0; */
    background-color: white;
    border-radius: 21.8px;
}

.resources-card-elements {
    position: relative;
    top: 36.18px;
    left: 28.87px;
}

.resources-card-elements a {
    position: relative;
    top: 2rem;
    font-weight: bold;
}

.resources-card-container h3 {
    color: #66686D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-left: 15px;
}

.resources-card-container h2 {
    color: #24272E;
    font-size: 24px;
    font-style: normal;
    line-height: 36px;
}

.resources-card-container p {
    color: #7C7D82;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    padding: 0;
    text-align: start;
}

.resources-card-header {
    display: flex;
    align-items: center;
    gap: 2.5px;
    color: #102b4d;
}

.resources-card-container {
    display: flex;
    flex-direction: column;
}

.image-bg {
    position: absolute;
    left: 15px;
    display: flex;
}

.view-more-btn button {
    /* width: 180px;
    height: 24px; */
    color: #24272E;
    padding: 16px;
    display: flex;
    margin: auto;
    /* position: relative;
    top: 32px; */
    justify-content: center;
}

/*******************/
/***Contact Form***/
/*******************/

.contact {
    /* background-color: #ffe550; */
    padding: 80px 0px;
}

.contact-desc h1 {
    color: #24272E;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.contact-desc p {
    color: #7C7D82;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.contact-form {
    display: grid;
    grid-template-rows: auto;
    gap: 16px;
    justify-content: center;
}

.name {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.label-class {
    display: block;
    margin-bottom: 8px;
    color: #24272E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.input-class {
    box-sizing: border-box;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    width: 100%;
}

.btn {
    color: #24272E;
    top: 32px;
    padding: 10px 16px;
}

.submit-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}


/********************/
/* Footer */
/********************/
footer{
    background-image: url("img/footer.jpg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    object-fit: cover;
    position: relative;
    height: 480px;
    /* padding-top: 10%;
    z-index: 0; */
}
footer:before{
    background: linear-gradient(135deg, #3387D7 0%, #093157 100%);
    /* background-repeat: no-repeat;
    background-size: cover; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    content: 'TEST';
    height: 480px;
}
/* footer .container{
    position: absolute;
    top: 25%;
    left: 25%;
} */
.container-wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    opacity: 0.5;
    color: white;
    position: relative;
    z-index: 2;
}
.social-media-icons {
        display: flex;
        flex-direction: row;
        gap: 16px;
}
.col h3{
    font-size: 16px;
    font-weight: 600;
}
.col ul {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        gap: 16px;
}
.footer-container-right {
        display: flex;
        gap: 80px;
}
.col a{
    color: #FFF;
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 400;
}

/********************/
/* Copyright Section */
/********************/
.copyright {
    background-color: #F9F9FF;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.copyright-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: auto;
}
#arrow-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 
    08);
    border-style: none;
}